# MongoDB Configuration
# Replace with your local MongoDB URI or MongoDB Atlas Connection String
MONGODB_URI=mongodb://127.0.0.1:27017/earth_db

# Example MongoDB Atlas URI:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/earth_db?retryWrites=true&w=majority
